body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 35px;
}

/* Estilo para a lista de ações */
#shares-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.share-item {
  margin-bottom: 10px;
}

.form {
  border: 1px solid var(--main-color);
  padding: 10px;
  border-radius: 5px;
  background: rgb(0 143 172 / 42%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sell-input {
  padding: 5px;
  width: 70px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color2);
  outline: none;
}

.sell-input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.sell-button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color2);
  color: var(--font-color);
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 4px 4px var(--main-color);
}

.sell-button:hover {
  background-color: var(--input-focus);
}
